<div id="header">

<%= hidden_field_tag :current_user_id, current_user.id, id: 'current-user-id' if current_user %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8"><h2 class='title'><span><i class="icon-calendar"></i> Time Recorder </span><small><%= @title %></small></h2></div>
      <div class="span4">
        <div class="user-block pull-right btn-toolbar">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Welcome, <%= content_tag(:strong, current_user.name) %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.has_role?(:system_admin) || current_user.has_role?(:time_admin) %>
              <li>
                <%= link_to( fa_icon('cog', text: t('administration')), dashboard_path) %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to(TimeRecord.model_name.human, personal_time_recorder_path) %>
              </li>
              <li>
                <%= link_to(LeaveRecord.model_name.human, leave_time_recorder_path) %>
              </li>
              <li>
                <%= link_to(OvertimeRecord.model_name.human, overtime_recorder_path) %>
              </li>
              <li class="divider"></li>
              <% end %>
              <li>
                <%= link_to( fa_icon('signout', text: t("buttons.sign_out")), destroy_user_session_path, :method=>'delete') %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>