
<%= simple_form_for :time_record, as: :time_record, url: nil, html: {class: 'form-horizontal', method: :post}, remote: true do |f| %>

<div class="modal-boday">
  <div class="alert alert-error hide">
    <strong>Error!</strong> <span id="error-message"></span>
  </div>

  <div class="form-inputs">
    <%= f.input :user_id, collection: User.tracked.ordered.collect{|u| [u.full_name, u.id]} %>
    <%= f.input :remark, as: :text, input_html: { rows: 5 } %>
    <%= f.input :started_at, as: :hidden %>
    <%= f.input :ended_at, as: :hidden %>
    <%= f.input :type, as: :hidden, input_html: { value: OvertimeRecord.name} %>
  </div>
</div>
<div class="modal-footer">
  <%= f.button :submit, 'OK', class: 'btn btn-primary' %> <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
<% end %>