<%= render_cell(
  :page_title,
  :show,
  data:
  {
    name: "#{@project.name}",
    toolbar: {
      right:
      [

      ]
    }
  }
)
%>

<div class="well">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        <span>成员：</span><%= @project.users.inject([]) {|list, u| list << u.full_name }.join(' ') %>
      </div>
      <div class="span6">
        <span>项目时间：</span><%= t('labels.from') %> <%= @project.started_at.strftime("%Y-%m-%d") unless @project.started_at.nil? %> <%= t('labels.to') %> <%= @project.ended_at.strftime("%Y-%m-%d") unless @project.ended_at.nil? %>
      </div>
    </div>
  </div>
</div>

<%= render_cell(
  :section_title,
  :show,
  data:
  {
  name: ProjectLog.model_name.human,
  toolbar: {
    right:
    [
      render_cell(:button, :show, data: {
        name: fa_icon('plus-sign', text: t('model.create', :model => ProjectLog.model_name.human)),
        url: new_project_project_log_path(@project),
        options:
        {
          class: 'btn btn-primary'
        }
      })
    ]
  }
}) %>

<%= render partial: 'project_logs_grid', locals: { grid: @project_logs_grid } %>