<%= render_cell(
  :page_title,
  :show,
  data:
  {
    name: @report_kind == :user ? t('navigation.page_user_time_report') : t('navigation.page_project_time_report'),
  }
)
%>

<ul class="nav nav-tabs">
  <li class="<%= @report_kind == :project ? "active" : '' %>">
    <%= link_to t('navigation.page_project_time_report'), time_report_path(@url_params.merge({kind: :project})) %>
  </li>
  <li class="<%= @report_kind == :user ? "active" : '' %>">
    <%= link_to t('navigation.page_user_time_report'), time_report_path(@url_params.merge({kind: :user})) %>
  </li>
</ul>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="btn-toolbar">

        <%= @report_kind == :user ? render_cell(
          :dropdown_button,
          :show,
          data:
          {
            name: @user.nil? ? "#{t('label.please_choose')}#{User.model_name.human}" : @user.name,
            url: nil,
            dropdown_list:
            [
              {
                name: "All users",
                url: time_report_path(@url_params.reject{|k,v| k == :user_id})
              },
              {
                divider: true
              },
              User.tracked.inject([]) {|list, user| list << {
                  name: user.name,
                  url: time_report_path(@url_params.merge({user_id: user.id}))
                }
              }
            ].flatten
          }
        ) : render_cell(
          :dropdown_button,
          :show,
          data:
          {
            name: @project.nil? ? "#{t('label.please_choose')}#{Project.model_name.human}" : @project.name,
            url: nil,
            dropdown_list:
            [
              {
                name: "All projects",
                url: time_report_path(@url_params.reject{|k,v| k == :project_id})
              },
              {
                divider: true
              },
              Project.top.inject([]) {|list, project| list << {
                  name: project.name,
                  url: time_report_path(@url_params.merge({project_id: project.id}))
                }
              }
            ].flatten
          }
        ) %>


        <div class="btn-group">
          <%= link_to t('activerecord.attributes.time_sheet.duration.this_year'), time_report_path(@url_params.merge({start_date: Date.new(Date.today.year, 1, 1), end_date: Date.new(Date.today.year, 12, 31)})), class: "btn" %>
          <%= link_to t('activerecord.attributes.time_sheet.duration.last_month'), time_report_path(@url_params.merge({start_date: Date.new(Date.today.year, Date.today.month - 1, 1), end_date: 1.day.ago(Date.new(Date.today.year, Date.today.month , 1))})), class: "btn" %>
          <%= link_to t('activerecord.attributes.time_sheet.duration.this_month'), time_report_path(@url_params.merge({start_date: Date.new(Date.today.year, Date.today.month, 1), end_date: 1.day.ago(Date.new(Date.today.year, Date.today.month + 1, 1))})), class: "btn" %>
          <%= link_to t('activerecord.attributes.time_sheet.duration.last_week'), time_report_path(@url_params.merge({start_date: 1.day.ago(Date.today.beginning_of_week).beginning_of_week, end_date: 1.day.ago(Date.today.beginning_of_week).end_of_week})), class: "btn #{@report_duration == :week ? 'active' : ''}" %>
          <%= link_to t('activerecord.attributes.time_sheet.duration.this_week'), time_report_path(@url_params.merge({start_date: Date.today.beginning_of_week, end_date: Date.today.end_of_week})), class: "btn #{@report_duration == :week ? 'active' : ''}" %>
        </div>

      </div>
    </div>
    <div class="span6">
      <%= simple_form_for(:date_range, url: query_time_report_by_duration_path(@url_params), method: :post, html: {class: 'form-inline pull-right'}) do |f| %>
        <%= f.input :start_date, as: :date_picker, label: t('labels.from'), required: false, input_html: {value: @start_date.strftime('%Y-%m-%d')} %>
        <%= f.input :end_date, as: :date_picker, label: t('labels.to'), required: false, input_html: {value: @end_date.strftime('%Y-%m-%d')} %>
        <%= f.button :submit, t('buttons.ok') %>
      <% end %>
    </div>
  </div>
</div>

<% if @report_kind == :user %>

<%= @user_time_reports.inject([]) {|list, report| list << render(partial: 'user_time_report_grid', locals: {user: report[:user], grid: report[:grid]}) }.join.html_safe if @user.nil? %>

<%= render(partial: 'user_time_report_grid', locals: {user: @user, grid: @user_time_report_grid}) unless @user.nil? %>

<% else %>

<%= render partial: 'project_time_report_grid' %>

<% end %>
